* {
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', arial;
    font-size: 62.5%;
    margin:0;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.0rem;
}

p {
    font-size: 1.8rem;
}

/*Top nav*/

nav {
    align-items: center;
    background-color: #fff;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    gap: 2rem;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-link {
    align-items: center;
    display: flex;
    gap: 2rem;
}

.nav-link a {
    color: #000;
    font-size: 1.8rem;
    text-decoration: none;
    -webkit-transition: color 1s;
    transition: color 1s;
}

.nav-link a:hover {
    color: #ff8c00;
}

.nav-logo img{
    height: 50px;
    width: 100px;
}

.nav-link select {
    background-color: #fff;
    border: none;
    font-size: 1.4rem;
    width: 100px;
}

.nav-menu {
    display: none;
    margin-left: auto
}

.nav-menu button{
    background-color: #fff;
    border: none;
}

/* Header */
.header {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-content {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-content h1 {
    font-size: 7.2rem;
    font-weight: 300;
    margin-top: 20%;
}

.header-content p {
    font-size: 6.0rem;
    font-style: italic;
    font-weight: 100;
}

.header-content span {
    color: #838383;
}

.header-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.header-logo img {
    width: 4.8rem;
    height: 4.8rem;
}

/* About Me */

.grid-container {
    column-gap: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20% 2.5% 10% 2.5%;
    row-gap: 5px;
}

 .about-header {
    background-color: #0275d8;
    grid-column: 1 / span 3;
 }

 .about-header {
    color: #fff;
    padding-left: 10px; 
 }

 .about-main {
    border-color: #0275d8;
    border-style: solid;
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
    padding: 10px;
 }

 .about-main h3 {
    font-weight: bold;
 }

/* Thesis in About Me */
.about-content {
    border-color: #0275d8;
    border-style: solid;
    padding: 10px;
 }

 .about-content-cert {
    background-color: #ADD8E6;
    margin: 10px 0 10px 0;
    padding: 10px;
 }

 .about-content-cert a {
    text-decoration: none;
 }

 .about-content-cert h4{
    font-size: 1.8rem;
    font-weight: bold;
 }

 .about-content-cert p {
    font-size: 1.6rem;
 }

/*Footer*/
.contact {
    background-color: #0C2D48;
    display: flex;
    gap: 3rem;
    width: 100%;
}

.contact-logo img {
    height: 50px;
    width: 100px;
    margin: 20px 0 0 20px;
}

.contact-info h4{
    color: #fff;
    font-size: 1.8rem;
}

.contact-info p {
    color: #fff;
    font-size: 1.6rem;
}

.copyright {
    align-items: center;
    background-color: #0C2D48;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.copyright p {
    color: #fff;
    font-size: 1.6rem;
}

/* Projects page */
/* Top nav */
#soft-dev-link {
    border-color: #8b0000;
    border-style: solid;
    border-width: thin;
    color: #8b0000;
    padding: 5px;
}

#web-dev-link {
    border-color: #013220;
    border-style: solid;
    border-width: thin;
    color: #013220;
    padding: 5px;
}

#mob-dev-link {
    border-color: #00008b;
    border-style: solid;
    border-width: thin;
    color: #00008b;
    padding: 5px;
}

.grid-container-proj {
    column-gap: 5px;
    display: grid;
    grid-template-columns: auto auto;
    margin: 10% 2.5% 5% 2.5%;
    row-gap: 5px;
}

/* Project content section */
.bg-color-red {
    background-color: #8b0000;
}

.bg-color-green {
    background-color: #013220;
}

.bg-color-blue {
    background-color: #00008b;
}

.bd-color-red {
    border-color: #8b0000;
}

.bd-color-green {
    border-color: #013220;
}

.bd-color-blue {
    border-color: #00008b;
}

/* Dev section */
.dev-header{
    grid-column: 1 / span 2;
}

.dev-header h1 {
    color: #fff;
    padding-left: 10px; 
}

.dev-content {
    border-style: solid;
    grid-column: 1 / span 2;
    padding: 10px;
}

.dev-proj {
    background-color: #ADD8E6;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.dev-proj a {
    text-decoration: none;
}

.dev-proj h4{
    font-size: 1.8rem;
    font-weight: bold;
}

.dev-proj p {
    font-size: 1.6rem;
}

.tech-used p {
    font-size: 1.6rem;
}

/* For smaller screens */
@media screen and (max-width: 600px) {
    
    .nav{
        display: grid;
        grid-template-columns: auto auto;
    }

    .nav-logo {
        grid-column: 1;
        grid-row: 1;
    }

    .nav-menu {
        grid-column: 2;
        grid-row: 1;
    }

    .home_test {
        color: #ff8c00;
    }

    .nav-link {
        display: none;
    } 

    .nav-link-on{
        display: none;
        grid-column: 1 / span 2;
        grid-row: 2;
        padding: 10px;
    }

    .nav-menu {
        display: flex;
    }

    /* header section */

    .header-logo img {
        width: 24px;
        height: 24px;
    }

    .header-content {
        margin-top: 10%;
    }
    .header-content h1{
        font-size: 3.2rem;
    }

    .header-content p {
        font-size: 2.4rem;
    }

    /* about me section */
    .about-header h1 {
        font-size: 2.4rem;
    }

    .about-me h3{
        font-size: 1.8rem;
    }

    .about-me p{
        font-size: 1.8rem;
    }

    .about-main {
        border-color: #0275d8;
        border-style: solid;
        grid-column: 1 / span 3;
    }

    /* about content */
    .about-content {
        grid-column: 1 / span 3;
    }

    /* contact section */
    .contact {
        flex-direction: column;
    }

    .contact-info {
        margin-left: 20px;
    }

    /* copyright */
    .copyright {
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .copyright p {
        margin-left: 20px;
    }

    /* Projects page */

}