html, body{
    font-family: 'Roboto', arial;
    font-size: 62.5%;
    margin:0;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.0rem;
}

p {
    font-size: 1.8rem;
}

/*Navigation*/

nav {
    align-items: center;
    background-color: #fff;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    gap: 2rem;
    padding: 10px;
}

.nav-link {
    display: flex;
    gap: 2rem;
}

.nav-link a {
    color: #000;
    font-size: 1.8rem;
    text-decoration: none;
    -webkit-transition: color 1s;
    transition: color 1s;
}

.nav-link a:hover {
    color: #ff8c00;
}

.nav-logo img{
    height: 50px;
    width: 100px;
}

.nav-link select {
    background-color: #fff;
    border: none; 
    font-size: 1.4rem;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.header-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.header-content h1 {
    font-size: 7.2rem;
    font-weight: 300;
}

.header-content p {
    font-size: 6.0rem;
    font-style: italic;
    font-weight: 100;
}

.header-content span {
    opacity: 0.7;
}

.header-logo {
    align-content: center;
    align-items: center;
    display: flex;
    gap: 1.5rem;
    
}

/* About Me */

.grid-container {
    display: grid;
    margin: 5% 2.5%;
    border-color: #0275d8;
}
 .about-header {
    background-color: #0275d8;
 }

 .about-header h1 {
    color: #fff;
    margin-left: 10px;
 }

 .about-main {
    margin-left: 10px;
 }
 
 .about-main h3 {
    font-weight: bold;
 }






